extends ./inc/template

block pageVars
  - var pageTitle = "About"
  - var pageDescription = ""

block pageContent

  section.section.page-title
    .container
      h2 About
      h3.h4 Impactful and powerful technology

      article.column.half.clear-l
        p.
          We fund, build, and support impactful and powerful technology that empowers people just like you.
      .illustration
        span.ss-icon.ss-standard cloud

  section.section
    .container

      h3 The Team
      h4.h5.alt Meet the team

      .column.half.clear-l
        .photo-block
          .photo
            img(src="/assets/img/portraits/pimdewitte-320.jpg")
          .content
            h4.photo-block__title.alt Pim de Witte
            h6 Founder
            p.
              Pim is the founder and current CEO of Whitespell. Pim founded a gaming company at the age of 14,
              and left that company in 2015 to start Whitespell after working at Doctors without Borders and Google to
              fight Ebola. He is most passionate about filling the gap of technology in the humanitarian field.

      .column.half.clear-r
        .photo-block
          .photo
            img(src="/assets/img/portraits/koenvendrik-320.jpeg")
          .content
            h4.photo-block__title.alt Koen Vendrik
            h6 Co-Founder
            p.
              Tiramisu icing brownie jelly soufflé sweet roll. Sweet cake carrot cake cotton candy jelly-o tiramisu donut
              lemon drops sweet roll. Chocolate bar ice cream croissant candy. Sugar plum caramels bear claw cookie jelly beans.  


        