extends ./inc/template

block pageVars
  - var pageTitle = "Features"
  - var pageDescription = "Worlds first intelligent & distributed API"

block pageContent
  a(href="/")
    .notification
      .container
        span.ss-icon.ss-standard navigateleft
        b Read all about Whitespell

  section.section.page-title
    .container
      h2 Openings
      h3.h4 Working at Whitespell

      article.column.half.clear-l
        ul.usp
          li
            span.ss-icon.ss-standard check
            | Work in a young team of talents
          li
            span.ss-icon.ss-standard check
            | Free Gym Membership
          li
            span.ss-icon.ss-standard check
            | Manage and deploy using our cloud panel or CLI
          li
            span.ss-icon.ss-standard check
            | Reduces average loading time by at least 60%
      article.column.half.clear-r
        ul.usp
          li
            span.ss-icon.ss-standard check
            | Premium plans that allow to scale as you grow
          li
            span.ss-icon.ss-standard check
            | Get automatic mail updates about app data
          li
            span.ss-icon.ss-standard check
            | Integrated monetization and customer support options
      .illustration
        span.ss-icon.ss-standard cloud

  section.section.feature
    .container
      article.column.half
        h4 Java Developer
        p.
          Forfeited you engrossed but gay sometimes explained. Another as studied it to evident.
          Merry sense given he be arise. Conduct at an replied removal an amongst.
        a(href="mailto:careers@whitespell.com?subject=Java Developer Career&body=Hi guys!" title="Java Developer Apply") Apply for this position
      article.column.half
        pre.language-java
          code.
            Whitespell ws = new Whitespell();
            System.out.println('This should be a challenging and fun piece of code');
            for(int i = 0; i < 10; i++){
              System.out.println(i*0.5);
            }

  section.section.feature.inverted
    .container
      article.column.half
        h4.alt Sales Manager
        p.
          Forfeited you engrossed but gay sometimes explained. Another as studied it to evident.
          Merry sense given he be arise. Conduct at an replied removal an amongst.
        a(href="mailto:careers@whitespell.com?subject=Sales Manager Career&body=Hi guys!" title="JSales Manager Apply") Apply for this position
      article.column.half
        pre.language-plain
          code.
            =SUM(B2:B12)*SUM(12*28)

  section.section.accent
    .container
      +testimonial({
          content: "I can't say enough about their talent, customer service, and commitment to excellence.",
          imgSrc: "pdwitte.jpeg",
          name: "Ivan Gayton",
          org: "MSF",
          profession: "Head of Mission",
          orgUrl: "http://c2church.org"
        })

  section.section.feature
    .container
      article.column.half
        h4 JavaScript Developer
        p.
          Forfeited you engrossed but gay sometimes explained. Another as studied it to evident.
          Merry sense given he be arise. Conduct at an replied removal an amongst.
        a(href="mailto:careers@whitespell.com?subject=JavaScript Developer Career&body=Hi guys!" title="JavaScript Developer Apply") Apply for this position
      article.column.half
        pre.language-javascript
          code.
            var blob = new Blob([String(myFunction)]),
                blobURL = window.URL.createObjectURL(blob),
                worker = new Worker(blobURL);

            worker.postMessage("Can't wait to meet this new developer everyone has been talking about");

  section.section.centered
    article.column.half.clear-l
      .button-set
        a(href="/#contact").btn Get in touch
        span or
        a(href="/").btn.alt Read all about Whitespell