extends ./inc/template

block pageVars
  - var pageTitle = ""
  - var pageDescription = "Worlds first intelligent & distributed API"

block pageContent
  section.section.home-intro
    .container
      article.column.half.content.clear-l
        h2 Whitespell
        h3.h4.alt A tech company with gummies fruitcake cupcake. Lollipop ice cream.
        p.
          We create software that helps you cupcake candy biscuit. Danish dessert donut dessert pudding marzipan. Icing croissant icing tart sweet roll oat
          cake tiramisu bear claw.
        a.cta(href="#contact") Get in touch with us

      article.column.half.clear-r.character-wrapper
        .character
          img(src="assets/img/character.png")

  section.section.accent-alt.no-clear
    .container
      article.column.half.clear-l
        h3 What we do
        h4.h5 Creating innovative cupcakes with great companies
        p.
          Pie chocolate cake tart lemon drops soufflé. Topping jujubes sweet jelly-o bear claw lollipop liquorice. Cake bear claw chocolate cake
          chocolate bar bear claw croissant. Macaroon macaroon jelly-o pastry toffee tiramisu.

        a(href="#") Get in touch with us
      article.column.half.clear-r
        div(style="text-align: center; margin-top: 40px;")
          img(style="max-width: 300px; " src="assets/img/partners.png")

  section.section.accent(style="background-image: url('assets/img/doctor-buendia-app.jpg');")
    .container
      article.column.half.clear-l
        h3 Featured Project
        h4.h5 Project Buendia

        p.
          Jelly-o tootsie roll chocolate cake chocolate cake soufflé muffin dessert candy canes. Gingerbread pie pudding icing tootsie roll.
          Carrot cake chupa chups macaroon lollipop marzipan topping apple pie donut croissant.

        a(href="#") More about project Buendia

  .container
    section.section
      h3 Latest posts
      h4.h5.alt.no-clear Read about what keeps us busy

      section.column.overview-list
        article.column.half.clear-l
          a(href="article-learning.html")
            h5.title Outsourcing Processes To The Cloud
          .meta
            .inline-photo
              img(src="http://www.placecage.com/30/30")
            p
              | Posted by 
              a(href="#") Koen Vendrik
              |  in 
              a(href="#") Technology
        article.column.half.clear-r
          a(href="article-learning.html") 
            h5.title Creating Prepaired Statements
          .meta
            .inline-photo
              img(src="http://www.placecage.com/40/40")
            p Posted by 
              a(href="#") Pim de Witte
              |  in 
              a(href="#") MVC

        article.column.half.clear-l
          a(href="article-learning.html") 
            h5.title Creating Prepaired Statements
          .meta
            .inline-photo
              img(src="http://www.placecage.com/40/40")
            p Posted by 
              a(href="#") Pim de Witte
              |  in 
              a(href="#") MVC
        article.column.half.clear-r
          a(href="article-learning.html")
            h5.title Outsourcing Processes To The Cloud
          .meta
            .inline-photo
              img(src="http://www.placecage.com/30/30")
            p
              | Posted by 
              a(href="#") Koen Vendrik
              |  in 
              a(href="#") Scrum

      a(href="#").cta Read all our articles on Medium

  section.section.accent.testimonials
    .container
      p.
        I absolutely love Whitespell! Its sooo fluffyyyyyyy!!!!! Yes, thats awesome with a capital "A".
        You know why? Because I like the alphabet, thats why!
      cite
        div.photo
          img(src="https://randomuser.me/api/portraits/med/women/48.jpg")
        | Robert van Haaren
        br
        small
          em CEO at Duxilio

  section.section
    .container
      h3#contact Contact
      h4.h5.alt We're always open to a good talk

      article.column.half.clear-l
        p
          | Son agreed others exeter period myself few yet nature. Mention mr manners opinion if garrets enabled.
          | To an occasional dissimilar impossible sentiments.
        a(href="#").no-border
          h6.alt.inline.no-clear +1 (305) 929-8688
        a(href="#").no-border
          h6.alt.inline.no-clear info@whitespell.com
        p

      article.column.half.clear-r
        ul.social.no-clear
          li
            a(href="#")
              span.ss-icon.ss-social-circle.fb facebook
              | Facebook
          li
            a(href="#")
              span.ss-icon.ss-social-circle.twitter twitter
              | Twitter
          li
            a(href="#")
              span.ss-icon.ss-social-circle.googleplus googleplus
              | Google+
          li
            a(href="#")
              span.ss-icon.ss-social-circle.github octocat
              | Github