extends ./inc/template

block pageVars
  - var pageTitle = ""
  - var pageDescription = "Whitespell"

block pageContent

  section.section.home-intro
    .container
      article.column.half.content.clear-l
        h2 Whitespell
        h3.h4.alt Impactful and powerful technology
        p.
          We fund, build, and support impactful and powerful technology that empowers people just like you.
          Do you have ideas, opportunities, or wish to join our team?
        a.cta(href="/contact.html") Get in touch with us

      article.column.half.clear-r.character-wrapper
        .character
          img(src="assets/img/character.png")

  section.section.accent-alt.no-clear
    .container
      article.column.half.clear-l
        h3 Who are we?
        h4.h5 A team of entrepreneurs who love a challenge
        p.
          Our team has been incredibly fortunate to work with developers all over the world on projects ranging from online games in The Netherlands to health tech in Africa.

        a(href="#") Get in touch with us
      article.column.half.clear-r
        div(style="text-align: center; margin-top: 40px;")
          img(style="max-width: 300px; " src="assets/img/partners.png")

  section.section.accent(style="background-image: url('assets/img/doctor-buendia-app.jpg');")
    .container
      h3 Featured Project
      h4.h5 Project Buendia
      article.column.half.clear-l
        p.
          Whitespell founded a project to improve efficiency in Ebola treatment centers. The project has been an amazing experience for us.
          Thanks to the entire team the solution is now deployed in West Africa and helping doctors treat patients in Ebola treatment centers.

        a(href="http://www.linkedin.com/pulse/fighting-ebola-building-app-msf-google-pim-de-witte" alt="Article: Fighting Ebola: Building an app with MSF & Google" target="_blank") More about project Buendia

      article.column.half.clear-r
        ul.no-bullets.no-clear.xs-push-top
          +media-list__item('http://www.bbc.com/news/health-31970731', 'BBC News', 'bbc')
          +media-list__item('http://www.wired.com/2015/03/google-builds-new-tablet-fight-ebola/', 'Wired', 'wired')
          +media-list__item('http://www.cityam.com/212100/how-google-ended-creating-ebola-proof-tablet', 'City A.M.', 'city-am')
          +media-list__item('https://fd.nl/economie-politiek/1097718/artsen-zonder-grenzen-vroeg-me-na-te-denken-over-bestrijding-ebola', 'Financieel Dagblad', 'fd')

  section.section
    .container
      h3 Latest posts
      h4.h5.alt.no-clear Read about what keeps us busy

      .column.overview-list
        +overview-list__article({
          url: 'http://pimdewitte.me/2014/01/29/my-experience-with-status-ph-the-start-of-an-exciting-week/',
          title: 'Hacking For Social Good: What’s In It?',
          author: 'Pim de Witte',
          authorUrl: 'http://pimdewitte.com',
          imgSrc: 'pdwitte.jpeg'
        })
        +overview-list__article({
          url: 'https://www.linkedin.com/pulse/fighting-ebola-building-app-msf-google-pim-de-witte',
          title: 'Fighting Ebola: Building an app with MSF & Google',
          author: 'Pim de Witte',
          authorUrl: 'http://pimdewitte.com',
          imgSrc: 'pdwitte.jpeg'
        })

      //a(href="#").cta Read all our articles on Medium

  section.section.accent
    .container

      .column.half.clear-l
        +testimonial({
          content: "I can't say enough about their talent, customer service, and commitment to excellence.",
          imgSrc: "pdwitte.jpeg",
          name: "Ganesh Sinclair",
          org: "Google",
          profession: "Product Manager",
          orgUrl: "http://c2church.org"
        })

      .column.half.clear-r
        +testimonial({
          content: "I can't say enough about their talent, customer service, and commitment to excellence.",
          imgSrc: "pdwitte.jpeg",
          name: "Ivan Gayton",
          org: "MSF",
          profession: "Head of Mission",
          orgUrl: "http://c2church.org"
        })

  //- section.section
  //-   .container
  //-     h3#contact Contact
  //-     h4.h5.alt We're not afraid of your thoughts

  //-     article.column.half.clear-l
  //-       p
  //-         | Everything you see around you was initially just an idea.
  //-         | We're open to hear your thoughts and see how we can help.
  //-       a(href="tel:+17862019489" title="Call us").no-border
  //-         h6.alt.inline.no-clear +1 (786) 201 9489
  //-       a(href="mailto:info@whitespell.com" title="Email us").no-border
  //-         h6.alt.inline.no-clear info@whitespell.com

  //-     article.column.half.clear-r
  //-       +social-list

  //- section.section
  //-     .container
  //-       h4 Office Address
  //-       article.column.one-third.clear-l
  //-         h6.alt United States
  //-         ul.no-bullets
  //-           li Whitespell LLC
  //-           li 990 Biscayne Blvd. Office 503
  //-           li Miami, FL 33132
  //-           li +1 (305) 929-8688
  //-       article.column.two-third.clear-r
  //-         iframe.no-clear(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3592.618218595252!2d-80.18977800000003!3d25.783171000000017!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9b6a0faa6d11f%3A0x550785ebdd7e340f!2sMiamiShared!5e0!3m2!1snl!2snl!4v1419087308198", width="100%", height="250", frameborder="0", style="border:0")