extends ./inc/template

block pageVars
  - var pageTitle = ""
  - var pageDescription = "We fund, build, and support impactful and powerful technology that empowers people just like you."

block pageContent

  section.section.home-intro
    .container
      article.column.half.content.clear-l
        h2 Whitespell
        h3.h4.alt Impactful and powerful technology
        p.
          We fund, build, and support impactful and powerful technology that empowers people just like you.
          Do you have ideas, opportunities, or wish to join our team?
        a.cta(href="/contact") Get in touch with us

      article.column.half.clear-r.character-wrapper
        .character
          img(src="assets/img/character.png")

  section.section.accent-alt.no-clear
    .container
      article.column.half.clear-l
        h3 Who are we?
        h4.h5 A team of entrepreneurs who love a challenge
        p.
          Our team has been incredibly fortunate to work with developers all over the world on projects ranging from online games in The Netherlands to health tech in Africa.

        a(href="#") Get in touch with us
      //- article.column.half.clear-r
      //-   div(style="text-align: center; margin-top: 40px;")
      //-     img(style="max-width: 300px; " src="assets/img/partners.png")

  section.section.accent(style="background-image: url('assets/img/doctor-buendia-app-2.jpg');")
    .container
      h3 Featured Project
      h4.h5 Project Buendia
      article.column.half.clear-l
        p.
          Whitespell founded a project to improve efficiency in Ebola treatment centers. The project has been an amazing experience for us.
          Thanks to the entire team the solution is now deployed in West Africa and helping doctors treat patients in Ebola treatment centers.

        a(href="http://www.linkedin.com/pulse/fighting-ebola-building-app-msf-google-pim-de-witte" alt="Article: Fighting Ebola: Building an app with MSF & Google" target="_blank") More about project Buendia

      article.column.half.clear-r
        ul.no-bullets.no-clear.xs-push-top.media-list
          +media-list__item('http://www.bbc.com/news/health-31970731', 'BBC News', 'bbc.png')
          +media-list__item('http://www.theverge.com/2015/3/20/8267259/google-tablet-ebola-chlorine', 'The Verge News', 'theverge.png')
          +media-list__item('http://www.cityam.com/212100/how-google-ended-creating-ebola-proof-tablet', 'City A.M.', 'city-am.png')
          +media-list__item('http://magazine.good.is/articles/googles-ebola-proof-tablets', 'GOOD News', 'good.png')

  section.section
    .container

      .column.half.clear-l
        +testimonial({
          content: "I can't say enough about their talent, customer service, and commitment to excellence. We get so many compliments on our website, and Whitespell is always quick to respond to any changes and updates we need. That is crucial for our success, and Whitespell understands that",
          imgSrc: "derekallen-80.jpg",
          name: "Derek Allen",
          org: "C2 Miami",
          profession: "Lead Pastor",
          orgUrl: "http://c2church.org"
        })

      .column.half.clear-r
        +testimonial({
          content: "Through their recent partnership with Google to create an Ebola-proof tablet, it is evident that next-generation companies like Whitespell not only have the ability, but also the flexibility to develop solutions for some of the world’s most pressing issues.",
          imgSrc: "lyndibowman-80.jpg",
          name: "Lyndi Bowman",
          org: "The Beacon Council",
          profession: "Director of Economic Development",
          orgUrl: "http://c2church.org"
        })

  section.section.accent.centered
    .container

      ul.inline.media-list
        +media-list__item('http://www.bbc.com/news/health-31970731', 'BBC News', 'bbc.png')
        +media-list__item('http://magazine.good.is/articles/googles-ebola-proof-tablets', 'GOOD News', 'good.png')
        +media-list__item('http://www.engadget.com/2015/03/20/google-ebola-proof-tablet/', 'Engadget News', 'engadget.png')
        +media-list__item('http://www.cityam.com/212100/how-google-ended-creating-ebola-proof-tablet', 'City A.M.', 'city-am.png')
        +media-list__item('http://www.theverge.com/2015/3/20/8267259/google-tablet-ebola-chlorine', 'The Verge News', 'theverge.png')
        +media-list__item('http://www.telegraph.co.uk/news/worldnews/ebola/11485946/Ebola-proof-tablet-designed-by-Google-rolled-out-in-Sierra-Leone-disease-centre.html', 'The Telegraph News', 'thetelegraph.png')
        +media-list__item('http://www.wired.com/2015/03/google-builds-new-tablet-fight-ebola/', 'Wired', 'wired.png')
        +media-list__item('https://fd.nl/economie-politiek/1097718/artsen-zonder-grenzen-vroeg-me-na-te-denken-over-bestrijding-ebola', 'Financieel Dagblad', 'fd.png')


  section.section.centered
    article.column.half.clear-l
      .button-set
        a(href="/contact").btn Get in touch
        span or
        a(href="/about").btn.alt Read all about Whitespell