extends ./inc/template

block pageVars
  - var pageTitle = ""
  - var pageDescription = "Whitespell"

block pageContent
  section.section.home-intro
    .container
      article.column.half.content.clear-l
        h2 Welcome to Whitespell
        h3.h4.altbuild We fund, build, and support impactful and powerful technology that empowers people just like you
        p.
          Do you have ideas, opportunities, or wish to join our team?
        a.cta(href="#contact") Get in touch with us

      article.column.half.clear-r.character-wrapper
        .character
          img(src="assets/img/character.png")

  section.section.accent-alt.no-clear
    .container
      article.column.half.clear-l
        h3 Who are we?
        h4.h5 We're a team of entrepreneurs who love a challenge
        p.
          Our team has been incredibly fortunate to work with developers all over the world on projects ranging from online games in The Netherlands to health tech in Africa.

        a(href="#") Get in touch with us
      article.column.half.clear-r
        div(style="text-align: center; margin-top: 40px;")
          //img(style="max-width: 300px; " src="assets/img/partners.png")

  section.section.accent(style="background-image: url('assets/img/doctor-buendia-app.jpg');")
    .container
      article.column.half.clear-l
        h3 Featured Project
        h4.h5 Project Buendia

        p.
          Whitespell founded a project to improve efficiency in Ebola treatment centers. The project has been an amazing experience for us.
          Thanks to the entire team the solution is now deployed in West Africa and helping doctors treat patients in Ebola treatment centers.

        a(href="#") More about project Buendia

  .container
    section.section
      h3 Latest posts
      h4.h5.alt.no-clear Read about what keeps us busy

      section.column.overview-list
        article.column.half.clear-l
          a(href="http://pimdewitte.me/2014/01/29/my-experience-with-status-ph-the-start-of-an-exciting-week/")
            h5.title Hacking For Social Good: What’s In It?
          .meta
            .inline-photo
              img(src="/assets/img/pim-thumbnail.jpg")
            p
              | Posted by 
              a(href="#") Pim de Witte
              |  in 
              a(href="#") Technology


      //a(href="#").cta Read all our articles on Medium

  section.section.accent.testimonials
    .container
      p.
        I can't say enough about their talent, customer service, and commitment to excellence.
      cite
        div.photo
          img(src="/assets/img/derek-img.jpg")
        | Derek Allen
        br
        small
          em
              a(href="http://c2church.org")
                   span Lead Pastor at C2 Church
    .container
      p.
        Ganesh's quote
      cite
        div.photo
          img(src="/assets/img/pim-thumbnail.jpg")
        | Ganesh Shankar
        br
        small
          em
              a(href="http://c2church.org")
                   span Product Manager at Google
    .container
      p.
        Whitespell is awesome man..
      cite
        div.photo
          img(src="/assets/img/pim-thumbnail.jpg")
        | Derek Allen
        br
        small
          em
              a(href="http://c2church.org")
                   span Ivan Gayton, Doctors without Borders

  section.section
    .container
      h3#contact Contact
      h4.h5.alt We're not afraid of your thoughts

      article.column.half.clear-l
        p
          | Everything you see around you was initially just an idea.
          | We're open to hear your thoughts and see how we can help.
        a(href="#").no-border
          h6.alt.inline.no-clear +1 (786) 201 9489
        a(href="#").no-border
          h6.alt.inline.no-clear info@whitespell.com
        p

      article.column.half.clear-r
        ul.social.no-clear
          li
            a(href="https://www.facebook.com/wearewhitespell")
              span.ss-icon.ss-social-circle.fb facebook
              | Facebook
          li
            a(href="https://twitter.com/_whitespell")
              span.ss-icon.ss-social-circle.twitter twitter
              | Twitter
          li
            a(href="https://github.com/whitespell")
              span.ss-icon.ss-social-circle.github octocat
              | Github