extends ./inc/template

block pageVars
    - var pageTitle = "Team"
    - var pageDescription = "We build meaningful apps that empower people just like you. Ever thought technology could truly change the world? At Whitespell we do."

block pageContent

    section.section.page-title
        .container
            h2 Team
            h3.h4 Meet the team

            article.column.half.clear-l
                p.
                  We build and support impactful and powerful technology that empowers people just like you.
            .illustration
                span.ss-icon.ss-standard cloud

    section.section
        .container

            section.column
                article.column.half.clear-l
                    +photo-block({
                    imgSrc: 'pimdewitte-320.jpg',
                    name: 'Pim de Witte',
                    title: 'Founder, Wizard of Tech',
                    social: {
                        twitter: 'https://twitter.com/pimdewitte',
                        linkedin: 'https://www.linkedin.com/in/pimdw',
                        github: 'https://github.com/pwhitespell'
                    },
                    description: 'Pim is the founder and current CEO of Whitespell. Pim founded a gaming company at the age of 14, and left that company in 2015 to start Whitespell after working at Doctors without Borders and Google to fight Ebola. He is most passionate about filling the gap of technology in the humanitarian field.'
                    })
                article.column.half.clear-r
                    +photo-block({
                    imgSrc: 'koenvendrik-320.jpeg',
                    name: 'Koen Vendrik',
                    title: 'Co-Founder, Wizard of Design',
                    social: {
                        twitter: 'http://twitter.com/kvendrik',
                        linkedin: 'http://linkedin.com/in/kvendrik',
                        github: 'https://github.com/kvendrik'
                    },
                    description: 'Koen is an avid web developer with an eye for detail. His excellent design skills have helped him build beautiful products, just like he is doing at Whitespell. Koen is also not afraid to get out of his comfort zone to write some python or java.'
                    })

            section.column
                article.column.half.clear-l
                    +photo-block({
                    imgSrc: 'alexhudson-320.jpg',
                    name: 'Alex Hudson',
                    title: 'Co-Founder, Wizard of iOS Development',
                    social: {
                        linkedin: 'http://www.linkedin.com/in/alexhudson07',
                        github: 'https://github.com/AlexHudson07'
                    },
                    description: 'Alex is our go to guy when it comes to iOS Development, his creative ideas for different Apple technologies means that Whitespell products will always have a unique perspective on its vision when implementing its projects.  When he’s not coding he’s tearing up the dance floor at the hottest salsa clubs in Miami.'
                    })
                article.column.half.clear-r
                    +photo-block({
                    imgSrc: 'galopaz-320.jpeg',
                    name: 'Galo Paz',
                    title: 'Co-Founder, Wizard of Android Development',
                    social: {
                        linkedin: 'http://www.linkedin.com/in/galopaz',
                        github: 'https://github.com/gpaz'
                    },
                    description: 'Galo is an Android junkie with a deep passion to create immersive user experiences.  He was born and raised in San Francisco with an upbringing that inspires him to want to impact the lives of people in positive and meaningful ways and intends to do just that here at Whitespell.'
                    })

            section.column
                article.column.half.clear-l
                    +photo-block({
                    imgSrc: 'corymcan-200.jpeg',
                    name: 'Cory McAn',
                    title: 'Co-Founder, Wizard of Back-end Development',
                    social: {
                        linkedin: 'https://www.linkedin.com/in/corymcan',
                        github: 'https://github.com/coryMcan'
                    },
                    description: 'Cory is a back-end application developer, born and raised in Miami. Growing up in a multicultural environment has made him resilient in the face of challenge. He brings his passion for software efficiency and cutting edge technology to Whitespell.'
                    })
                article.column.half.clear-r
                    +photo-block({
                    imgSrc: 'ariellegruman-320.jpg',
                    name: 'Arielle Gruman',
                    title: 'Wizard of Marketing & Sales',
                    description: 'Arielle is a Marketing professional with a sales and recruiting background. With a development background, she is able to fully understand the client’s needs on a technical basis. As a Floridian she is excited to launch products in the Miami area and help them grow. Arielle is excited to use her skills at Whitespell to build strong and trusting relationships with customers.'
                    })

            section.column
                article.column.half.clear-l
                    +photo-block({
                    imgSrc: 'gregweiss-288.jpg',
                    name: 'Greg Weiss',
                    title: 'Wizard of Law',
                    social: {
                        linkedin: 'https://www.linkedin.com/pub/greg-weiss/ba/177/b05'
                    },
                    description: 'Greg was previously EVP and Chief Legal Officer for a global tax services firm with more than $450M in annual revenue.'
                    })
                article.column.half.clear-r
                    +photo-block({
                    imgSrc: 'markvanderlinden-320.jpg',
                    name: 'Mark van der Linden',
                    title: 'Board of Advisors, Finance',
                    description: 'Mark is an experienced lawyer and tax strategist, he ensures that our financial flow is optimal and advises us on legal, finance, and tax.'
                    })

            section.column
                article.column.half.clear-l
                    +photo-block({
                    imgSrc: 'ivangayton-320.jpg',
                    name: 'Ivan Gayton',
                    title: 'Board of Advisors, Impact',
                    description: 'Ivan is our advisor in social impact. He was previously the head of missions at Doctors without Borders. Ivan has been on MSF field trips numerous times and is a true hero who has saved many lives, even though he would never say so himself.'
                    })
                article.column.half.clear-r
                    +photo-block({
                    imgSrc: 'davecopps-320.jpg',
                    name: 'Dave Copps',
                    title: 'Board of Advisors, Entrepreneurship',
                    description: 'Dave is a brilliant entrepreneur. He is thoughtful, insightful, smart, and has years of experience under his belt. Dave is on the board and advises us on strategical entrepreneurial moves.'
                    })

            section.column
                article.column.half.clear-l
                    +photo-block({
                    imgSrc: 'roberthhacker-320.jpg',
                    name: 'Robert H. Hacker',
                    title: 'Board of Advisors, Entrepreneurship',
                    description: 'Robert is the Managing Partner of GH Capital Partners, a Miami-based consultancy specializing in growth strategies, acquisitions and complex transactions for middle market companies in North and South America. He is an Adjunct Professor of entrepreneurship and social entrepreneurship at Florida International University, the University of Miami and the MIT Sloan School of Management. Previously Bob built a billion dollar publicly traded company in Asia and served as the CFO of One Laptop per Child for three years. He is the author of Billion Dollar Company: An entrepreneur’s guide to business models for high growth companies.'
                    })
                article.column.half.clear-r
                    +photo-block({
                    imgSrc: 'richardmurray-320.jpg',
                    name: 'Richard Murray',
                    title: 'Board of Advisors, Customers',
                    description: 'Richard is a seasoned executive with extensive experience in both the software and telecommunications sectors. Richard\'s teams have won numerous awards by relentlessly focussing on company culture and putting the customer at the heart of every decision. Richard advises us on organizational values and commercial strategy.'
                    })

            section.section.centered
                article.column.half.clear-l
                    .button-set
                        a(href="/careers").btn View career opportunities
                        span or
                        a(href="/contact").btn.alt Get in touch
