* {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	line-height: $line-height;
	-webkit-tap-highlight-color: transparent;
}

body {
	font: $size-m $main-family;
	font-weight: $main-weight;
	color: $base-color;
	background: $white;
	position: relative;
}

body, header#header {
	@include transition(margin-left);
}

.container {
	width: $main-container-width;
	margin: 0 auto;
	overflow: hidden;
}

iframe {
	width: 100%;
}

.no-clear {
	margin-bottom: 0 !important;
}

span.ss-icon, span.devicons {
	display: inline-block;
	margin-right: $margin-s;

	position: relative;
	top: 3px;
}

span.devicons {
	font-size: 1.1em;
	top: 2px;
}

.notification {
	width: 100%;
	padding: $margin-m 0;
	background: $accent;
	color: $white;

	@include transition(background-color);

	.arrow {
		font-size: $size-s;
		color: $white;
		border: none;
		position: relative;
		top: 4px;
		margin-left: $margin-m;
		float: right;
		display: inline-block;
	}

	&:hover {
		background-color: $accent-hover;
	}
}

///

.peak-logo {
	max-width: 160px;

	img {
		width: 100%;
		margin: 0;
	}
}

.peak-preview {
	max-width: 310px;
	line-height: 0;
	margin: 0 auto;

	img {
		width: 100%;
		margin: 0;
	}
}

.video-platform-logo {
	line-height: 0;
	padding: $margin-s 0;
	margin-bottom: 0;

	img {
		margin-bottom: 0;
	}
}

.video-platform-preview {
	max-width: 420px;
	margin-bottom: -110px;

	img {
		width: 100%;
	}
}