extends ./inc/template

block pageVars
  - var pageTitle = "Careers"
  - var pageDescription = "Are you looking to join a vibrant start-up in the heart of the beautiful city of Miami, and do you have a passion for having a purpose through your career?"

block pageContent

  section.section.page-title(style="background-image: url(/assets/img/seaview.jpg);")
    .container
      h2 Careers
      h3.h4 Working at Whitespell

      article.column.half.clear-l
        p
          | Whitespell has collaborated with companies like Google and Doctors without Borders
          | to build 
          b impactful technology 
          | around the world. We are a 
          b for-profit company 
          | with a 
          b dedication to impact.
      .illustration
        span.ss-icon.ss-standard cloud

  section.section
    .container
      h4.alt Is it you we're looking for?
      .column.half.clear-l
        p.
          At Whitespell we combat the world's most challenging problems with technology.
          Are you looking to join a vibrant start-up in the heart of the beautiful city of Miami,
          and do you have a passion for having a purpose through your career?
      .column.half.clear-r
        p.
          If that's the case, we are looking for you.
          Whitespell has collaborated with companies like Google and Doctors without Borders
          to build impactful technology around the world. We are a for-profit company with a
          dedication to impact.

  section.section.centered
    article.column.half.clear-l
      .button-set
        a(href="https://angel.co/whitespell/jobs/", target="_blank").btn View Openings
        span or
        a(href="/contact").btn.alt Contact us for other opportunities