.section.home-intro {
	height: 100%;

	padding-top: $margin-l*3;
	padding-bottom: $margin-xl*3;

	.content {
		margin-top: $margin-xl;
	}
}

.character {
	width: 100%;
	text-align: center;

	img {
		width: 100%;
		max-width: 300px;
	}

	&.smaller img {
		max-width: 250px;
	}
}