.section.home-intro {
	height: 100%;
	max-height: 650px;

	&.bg-img {
		padding-bottom: $margin-xl*3;
	}

	.content {
		margin-top: $margin-xl;
	}

	.peak-logo {
		max-width: 160px;

		img {
			width: 100%;
			margin: 0;
		}
	}

	.peak-preview {
		max-width: 300px;
		line-height: 0;
		margin: 0 auto;

		img {
			width: 100%;
			margin: 0;
		}
	}
}

.character {
	width: 100%;
	text-align: center;

	img {
		width: 100%;
		max-width: 300px;
	}

	&.smaller img {
		max-width: 250px;
	}
}