.section.home-intro {
	height: 100%;

	padding-top: $margin-l*3;
	padding-bottom: $margin-xl*3;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: $base-color;
		opacity: .5;
	}

	.content {
		margin-top: $margin-xl;
	}
}

.character {
	width: 100%;
	text-align: center;

	img {
		width: 100%;
		max-width: 300px;
	}

	&.smaller img {
		max-width: 250px;
	}
}