.testimonial {
  overflow: hidden;
  max-width: 600px;
  margin: 0 auto;

  p {
    font-size: 1.4em;
  }

  cite {
    font-style: normal;
    .photo {
      width: 40px;
      height: 40px;
      overflow: hidden;

      position: relative;
      top: 3px;

      @include border($color: $accent-dark, $width: $border-width-alt);

      float: left;
      margin-right: $margin-s;
      border-radius: 100%;

      img {
        width: 100%;
      }
    }
  }

}

.accent-alt .testimonial {
  .photo {
    border-color: $accent-alt-dark;
  }
}