footer#footer
  .container
    ul.inline
      a(href='/')
        li Whitespell LLC, 2015

    ul.inline.right
      a(href='./')
        li Home
      a(href='/about')
        li About
      a(href='/news')
        li News
      a(href='/careers')
        li Careers
      a(href='/contact')
        li Contact

script(src='/js/app.js')
</body>
</html>
