footer#footer
  .container
    ul.inline
      a(href='/')
        li Made with &#9829; in Miami. &copy; Whitespell

    ul.inline.right
      each name, href in pagesInfo
          a(href="/#{href}")
            li= name

script(src='/js/app.js')
</body>
</html>
